@use "../util/" as util;

h1 {
  font-size: clamp(util.rem(42), util.rem(16) + 2vw, util.rem(72));
}

h2 {
  font-size: clamp(util.rem(36), util.rem(16) + 2vw, util.rem(48));
}

h3 {
  font-size: 1.5rem;
  font-size: clamp(1.5rem, 1.5rem + 0vw, 1.5rem);
}

p {
  font-size: clamp(util.rem(24), util.rem(16) + 2vw, util.rem(28));
}
